@model Bravo.ViewModels.AlbumViewModel

@{
    ViewBag.Title = "Details" + Model.AlbumName;
}

<h2>Details for @Model.AlbumName</h2>

<div>
    <h4>@Model.AlbumName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GenreId)
        </dt>
		
        <dd>
            @Html.DisplayFor(model => model.GenreId)
        </dd>

		<dt>
			@Html.DisplayNameFor(model => model.AlbumName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.AlbumName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ArtistId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ArtistId)
		</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
