@model IEnumerable<Bravo.ViewModels.ArtistViewModelSummary>

@{
    ViewBag.Title = "Artists Summary";
}

<h2>Index</h2>

<button class="btn btn-primary pull-right">
	@Html.ActionLink("Create New", "Create")
</button>
<p>
	There are currently @Model.Count() artist which we have a record of.
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArtistName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
		<td>
			@Html.DisplayFor(modelItem => item.ArtistName)
		</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArtistId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArtistId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArtistId })
        </td>
    </tr>
}

</table>
