@model Bravo.ViewModels.GenreViewModel

@{
    ViewBag.Title = "Details for " + Model.GenreName;
}

<h2>Details for @Model.GenreName</h2>

<div>
	<h4>
		@Model.GenreName
	</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Genre Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GenreId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
