@model IEnumerable<Bravo.ViewModels.GenreViewModelSummary>

@{
    ViewBag.Title = "Index";
}

<h2>Summary of all Genres</h2>

<button class="btn btn-primary pull-right">
	@Html.ActionLink("Create New", "Create")
</button>
<p>
	There are currently @Model.Count() artist which we have a record of.
</p>
<table class="table">
    <tr>
        <th>
            Genre Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GenreName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GenreId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GenreId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GenreId })
        </td>
    </tr>
}

</table>
