@model IEnumerable<Bravo.ViewModels.SongViewModelSummary>

@{
    ViewBag.Title = "Index";
}

<h2>Song List</h2>
<button class="btn btn-primary pull-right">
	@Html.ActionLink("Create New", "Create")
</button>
<p>
	There are currently @Model.Count() artist which we have a record of.
</p>
<table class="table table-striped">
    <tr>
		<th>
			Song
		</th>
        <th>
            Album Title
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SongName)
        </td>
		<td>
			@Html.DisplayFor(modelItem => item.AlbumName)
		</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SongId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SongId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SongId })
        </td>
    </tr>
}

</table>